<h2>История покупок</h2>

{{#if state.isVideo}}
  <video width="600" height="300" autoplay="true" loop="true">
    <source src="/2021-12-27 00-42-12.mkv" type='video/mp4'>
  </video>
{{/if}}

{{> products}}